<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>


<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p>投稿ユーザー画像:<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>name:<%= book.user.name %></p>
  <p>introduction:<%= book.user.introduction %></p>
</div>
<% end %>