<div>
  <h3>User info</h3>
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <% end %>
  
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>name　　　　<%= book.user.name %></p>
  <p>introduction<%= book.user.introduction %></p>
  
  <p><%= link_to "設定", edit_user_path(@user.id) %></p>
</div>
<% end %>